@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root{
  --font-main: 'Poppins', sans-serif;
}

nav{
  background-color: navy;
  height: 64px;
}

nav > ul{
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  list-style: none;
}

nav > ul > li{
  font-family: var(--font-main);
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
}

nav em{
  font-style: normal;
  text-decoration: underline;
}